{% set categories = [] %}

{% for category in beer.categories %}
    {% set categories = categories|merge([category.name]) %}
{%  endfor %}


<div class="col-md-4 mb-4">
    <div class="card border rounded">
        {% if picture is defined and picture %}
            <img class="card-img-top" src="{{ asset('assets/images/biere.jpg') }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"><a href="{{ path('beer', {id: beer.id}) }}">{{ beer.name }}</a></span></h5>
            <p class="card-text">
                {{ beer.description }}
            </p>
        </div>

        <div class="card-body border-top">

            <p>Degrées: {{ beer.degree }}°C</p>
            <p>Pays: <a href="{{ path('country_beer', {'id': beer.country.id}) }}">{{ beer.country.name }}</a></p>
            Type: {{ categories|join(', ', ' et ') }}
            </p>
        </div>

        <div class="card-body border-top">
            {{ beer.statistics|length > 0 ? "Cette bière a été acheté #{ beer.statistics|length } fois" : 'Soyez le premier a essayer cette bière !' }}
        </div>
        <div class="card-footer">
            <p class="text-right"><span class="font-weight-bold">{{ beer.price }}€</span> TTC</p>
        </div>

    </div>
</div>