<div class="col-md-4 mb-4">
    <div class="card border rounded">
        {#            <img class="card-img-top" src="{{ asset('assets/images/biere.jpg') }}" alt="Card image cap">#}
        <div class="card-body">
            <h5 class="card-title"><a href="{{ path('beer', {id: beer.id}) }}">{{ beer.name }}</a></span></h5>
            {% if picture is defined and picture %}
                <img class="card-img-top" src="{{ asset('assets/images/biere.jpg') }}">
            {% endif %}
            <p class="card-text">
                <p>{{ beer.description }}</p>
                <p>Degrées: {{ beer.degree }}°C</p>
                <p>Prix: {{ beer.price }}€</p>
                <p>Pays: <a href="{{ path('country_beer', {'id': beer.country.id}) }}">{{ beer.country.name }}</a></p>
                <p>Catégories</p>
                <ul>
                    {% for category in beer.categories %}
                        <li>{{ category.name }}</li>
                    {%  endfor %}
                </ul>
            </p>

            {% if beer.statistics|length > 0 %}
                <p>Cette bière a été acheté {{ beer.statistics|length }} fois</p>
            {% else %}
                <p>Soyez le premier a essayer cette bière !</p>
            {% endif %}
        </div>
    </div>
</div>